html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Arial', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 1vw;
    height: 100vh;
    width: 100%;
    margin: 0;
}

a {
    color: black;

}

.back-link {
    position: absolute;
    font-size: 1.5vw;
}

#second-panel a {
    color: white;
}

#fourth-panel a {
    color: white;
}

.link-white {
    color: white;
}

.embedded-logo {
    background-color: white;
    color: black! important;
}

.panel {
    height: 100%;
    width: 100%;
}

#first-panel {
    
}

#first-panel-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#second-panel {
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#second-panel-content {
    margin: 0;
    position: absolute;
    top: 150%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: white;
}

#third-panel {

}

#third-panel-content {
    margin: 0;
    position: absolute;
    top: 250%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#fourth-panel {
    color: white;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#fourth-panel-content {
    margin: 0;
    position: absolute;
    top: 350%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

button {
    font-size: 18px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border: none;
    border: 1.5px solid #555555;
    margin:0 auto;
    display:block;
}

button:hover {
    background-color: grey;
}

.div-card {
    margin-top: 4rem !important;
    background-color: white;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 0.1rem;
    box-shadow: 0 2px 4px 0 black;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.float-left {
    float: left;
}

.display-inline {
    display: inline-block;
}

.display-block {
    display: block;
}

.padding-1 {
    padding: 1rem;
}

.margin-1 {
    margin: 1rem;
}

.nav-button {
    text-align: center;
    display: inline-block;
}

/* Footer Content*/
#credit-footer {
    left: 0;
    bottom: 0;
    background-color: white;
    color: black;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}
#github-logo {
    vertical-align: middle;
    display:inline;
    width: 4rem;
}
#linkedin-logo {
    vertical-align: middle;
    display:inline;
    width: 5rem;
}

#pageNav {
    display: block;
    text-align: center;
}

/* Responsive page width media queries*/
@media (max-width: 960px) {
    body {
        font-size: 2vw;
    }

    #first-panel-content {
        width: 75%;
    }

    #second-panel-content {
        width: 75%;
    }

    #third-panel-content {
        width: 75%;
    }

    #fourth-panel-content {
        width: 75%;
    }

    .back-link {
        position: absolute;
        font-size: 3vw;
    }
}

@media (max-width: 720px) {
    body {
        font-size: 3vw;
    }
    
    #first-panel-content {
        width: 90%;
    }

    #second-panel-content {
        width: 90%;
    }

    #third-panel-content {
        width: 90%;
    }

    #fourth-panel-content {
        width: 90%;
    }

    .back-link {
        position: absolute;
        font-size: 4.5vw;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 4vw;
    }

    #first-panel-content {
        width: 90%;
    }

    #second-panel-content {
        width: 90%;
    }

    #third-panel-content {
        width: 90%;
    }

    #fourth-panel-content {
        width: 90%;
    }
    .back-link {
        position: absolute;
        font-size: 6vw;
    }
}