body {
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Arial', sans-serif;
    font-family: 'Urbanist', sans-serif;
    height: 100%;
    font-size: 20px;
}

button {
    font-size: 18px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border: none;
    border: 1.5px solid #555555;
}

button:hover {
    background-color: grey;
}

.main-content {
    height: 100%;
    margin-left:20%;
    margin-right: 20%;
}

.div-card {
    margin-top: 4rem !important;
    background-color: white;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 0.1rem;
    box-shadow: 0 2px 4px 0 black;
}

.text-center {
    text-align: center;
}

.float-left {
    float: left;
}

.nav-button {
    text-align: center;
    display: inline-block;
    
}


/* Footer Content*/
#credit-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 0.5rem;
}
#github-logo {
    vertical-align: middle;
    display:inline;
    width: 4em;
}
#linkedin-logo {
    vertical-align: middle;
    display:inline;
    width: 5em;
}

#pageNav {
    display: block;
    text-align: center;
}

/* Responsive page width media queries*/
@media (max-width: 960px) {
    .main-content {
        margin-left:5%;
        margin-right: 5%;
    }
}